/*NAV*/
body{
    margin: 0;
    background-color: #f9f9f9;
}
nav {
    background-color: #ffffff;
    height: 56px;
    display: flex;
}

.navbar{
    display: flex;
    width: 100%;
    align-items: center;
    
}

ul{
    list-style-type: none;
}
.menu{
    height: 40px;
    width: 185px;
    display: flex;
    align-content: center;
    margin-right: 20px;
}
.bars{
    height: 40px;
    width:40px;
    display:flex;
    padding-left: 20px;
}
li.bars>img{
    align-self: center;
    justify-self: center;
}
.logo{
    height: 28px;
    width: 93px;
    align-self: center;
    padding-left: 5px;
}
ul>div{
    display:flex;
}

.boton{
    border: 1px solid rgb(6, 95, 212);
    padding: 5px 11px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: rgb(6, 95, 212);
}
div > img {
    padding-right: 10px;

}
b{
    align-self: center;
}




.main-search{
    display:flex;
    margin-left: auto;
    margin-right: auto;
}

.main-search li > input  { /*agregue el nombre de laclase*/
    border: 1px solid rgb(204, 204, 204); 
    height: 28px;
    width: 500px;
    font-size: 16px;
    padding-left: 5px;
}


.lupa{
    background-color: #F8F8F8;
    border: 1px solid rgb(204, 204, 204);
    display: flex;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 63px;
}

.img-lupa {
    height: 22px; 
    align-self: center;
    padding-left: 5px;
    
    
}

.icons{
    height: 40px;
    width: 244px;
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
    
}

.icons li { /*quite el div element y dejé nomás la clase*/
    display: flex;
    height: 40px;
    width: 40px;
    
}

div.icons li img {
    max-height: 24px; 
    padding-top: 20%;  
}

/* VIDEO */
.container{
    display: grid;
    grid-template-columns: 1fr 402px;
}

div.video{
    margin: 24px 24px;
}
.cuatro{
    width: 402px;
}
div.cuatro > div{
   max-width: 402px;
}